.countries{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.country{
    border: 3px solid black;
    background-color: yellow;
    border-radius: 20px;
    padding: 20px;
}
.country img{
    width: 200px;
}